name: tofu-deploy

on: push
environment: tofu-test
  # workflow_dispatch:
  #   inputs:
  #     environment:
  #       description: 'Environment to run tests against'
  #       type: environment
  #       required: true
#on:
#  workflow_call:
#    workflows: ["Subs CI"]
#    types:
#      - completed

env:
  ARTIFACT_NAME: artifact

jobs:
  deploy:
    runs-on: ubuntu-20.04
    environment: tofu_test
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.ARTIFACT_NAME }}
          
      - name: Display structure of downloaded files
        run: ls -R
      
      - name: Echo connection string from secrets
        run: echo ${{ secrets.DB_CONNECTION_STRING }}