name: cd

# on:
#   workflow_run:
#     workflows: ["CI"]
#     types:
#       - completed

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true
      release:
        description: 'Release'
        required: true

jobs:
  job1:
    runs-on: ubuntu-20.04
    permissions:
      deployments: write
      contents: read
    steps:
      - name: Create Deployment
        id: create_deployment
        run: |
          RESPONSE=$(curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/fedorkin/gha-test/deployments \
            -d '{"ref": "${{ inputs.release }}", "environment": "${{ inputs.environment }}", "description": "Description of Deployment", "required_contexts": [], "auto_merge": false}')
          echo "$RESPONSE"
          DEPLOYMENT_ID=$(echo "$RESPONSE" | jq '.id')
          echo "DEPLOYMENT_ID=$DEPLOYMENT_ID" >> $GITHUB_ENV

  job2:
    needs: job1
    runs-on: ubuntu-20.04
    environment: ${{ inputs.environment }}
    steps:
      - name: Info
        run: |
          echo "secret: ${{ secrets.DB_CONNECTION_STRING }}"
  job3:
    needs: job1
    runs-on: ubuntu-20.04
    environment: ${{ inputs.environment }}
    steps:
      - name: Info
        run: |
          echo "secret: ${{ secrets.DB_CONNECTION_STRING }}"