name: CD

# on:
#   workflow_run:
#     workflows: ["CI"]
#     types:
#       - completed

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true
      release:
        description: 'Release'
        required: true

jobs:
  deploy:
    runs-on: ubuntu-20.04
    environment: ${{ inputs.environment }}
    steps:
      - name: SHA
        run: |
          echo "branch: ${{ github.base_ref }}"
          echo "sha: ${{ github.sha }}"
      # - uses: robinraju/release-downloader@v1.8
      #   with:
      #     tag: ${{ inputs.release }}
      #     fileName: artefacts.zip
          
      # - name: Display structure of downloaded files
      #   run: ls -R
      
      # - name: Echo connection string from secrets
      #   run: echo "${GITHUB_REF} ${{ secrets.DB_CONNECTION_STRING }}"