name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

# on:
#   workflow_dispatch:
#     inputs:
#       environment:
#         description: 'Environment to run tests against'
#         type: environment
#         required: true

env:
  ARTIFACT_NAME: artifact

jobs:
  deploy:
    runs-on: ubuntu-20.04
    environment: tofu-test
    steps:
      # - name: Download artifact
      #   uses: actions/download-artifact@v2
      #   with:
      #     name: ${{ env.ARTIFACT_NAME }}
          
      - name: Display structure of downloaded files
        run: ls -R
      
      - name: Echo connection string from secretss
        run: echo "${GITHUB_REF} ${{ secrets.DB_CONNECTION_STRING }}"