name: Dispatch Listener

on:
  push:

jobs:

  job1:
    runs-on: ubuntu-latest
    environment: tofu-test
    steps:
      - name: Create file
        run: |
          mkdir -p output/path1
          mkdir -p output/path2
          echo "text1" > output/path1/my_file.txt
          echo "text2" > output/path2/my_file.txt
      - name: Upload my_artifact1
        uses: actions/upload-artifact@v3
        with:
          name: my_artifact1
          path: output
      - name: Upload my_artifact2
        uses: actions/upload-artifact@v3
        with:
          name: my_artifact2
          path: output

  createRelease:
    runs-on: ubuntu-latest
    needs: [job1]
    permissions:
      contents: write
    steps:
      - name: Download my_artifact1
        uses: actions/download-artifact@v3
        with:
          name: my_artifact1

      - name: Download my_artifact2
        uses: actions/download-artifact@v3
        with:
          name: my_artifact2

      - run: ls

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "release.v1.0.0"
          files: |
            path1
            path2

  # job1:
  #   runs-on: ubuntu-latest
  #   environment: tofu-test
  #   outputs:
  #     services: ${{ steps.set-matrix.outputs.services }}
  #   steps:
  #     - id: set-matrix
  #       run: echo "services=${{ toJSON(vars.SERVICES_LIST) }}" >> $GITHUB_OUTPUT
  # job2:
  #   needs: job1
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix: 
  #       service: ${{ fromJSON(needs.job1.outputs.services) }}
  #   steps:
  #     - run: echo ${{ matrix.service }}