name: Dispatch Listener

on:
  push:

jobs:
  # ------------------------
  say_hello:
    runs-on: ubuntu-latest
    environment: tofu-test
    outputs:
      services: ${{ steps.generate-matrix.outputs.services }}
    steps:
      - name: Generate Matrix
        id: generate-matrix
        run: |
          SERVICES=${{ toJSON(vars.SERVICES_LIST) }}
          echo ::set-output name=services::${SERVICES}

  # ------------------------
  my_echo:
    runs-on: ubuntu-latest
    needs:
      - say_hello
    steps:
      - name: Echo previous outputs
        run: echo "${{ toJSON(needs.say_hello.outputs) }}"
  # ------------------------
  my_matrix:
    runs-on: ubuntu-latest
    needs:
      - my_echo
      - say_hello
    strategy:
      matrix:
        service: ${{ fromJSON(needs.say_hello.outputs.services) }}
    steps:
      - name: Matrix => (${{ matrix.service }})
        run: |
          echo ${{ matrix.service }}