name: Dispatch Listener

on:
  push:

jobs:

  job1:
    runs-on: ubuntu-latest
    environment: tofu-test
    outputs:
      services: ${{ steps.set-matrix.outputs.services }}
    steps:
      - id: set-matrix
        run: echo "services=${{ toJSON(vars.CONFIGS) }}" >> $GITHUB_OUTPUT
  job15:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{ fromJSON(needs.job1.outputs.services) }}.ProductKey
  job2:
    needs: job15
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        service: ${{ fromJSON(needs.job1.outputs.services) }}
    steps:
      - run: echo ${{ matrix.service }}

  # job1:
  #   runs-on: ubuntu-latest
  #   environment: tofu-test
  #   outputs:
  #     services: ${{ steps.set-matrix.outputs.services }}
  #   steps:
  #     - id: set-matrix
  #       run: echo "services=${{ toJSON(vars.SERVICES_LIST) }}" >> $GITHUB_OUTPUT
  # job2:
  #   needs: job1
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix: 
  #       service: ${{ fromJSON(needs.job1.outputs.services) }}
  #   steps:
  #     - run: echo ${{ matrix.service }}



# jobs:
#   # ------------------------
#   say_hello:
#     runs-on: ubuntu-latest
#     environment: tofu-test
#     outputs:
#       services: ${{ steps.generate-matrix.outputs.services }}
#     steps:
#       - name: Generate Matrix
#         id: generate-matrix
#         run: |
#           SERVICES=${{ toJSON(vars.SERVICES_LIST) }}
#           echo ::set-output name=services::${SERVICES}

#   # ------------------------
#   my_echo:
#     runs-on: ubuntu-latest
#     needs:
#       - say_hello
#     steps:
#       - name: Echo previous outputs
#         run: echo "${{ toJSON(needs.say_hello.outputs) }}"
#   # ------------------------
#   my_matrix:
#     runs-on: ubuntu-latest
#     needs:
#       - my_echo
#       - say_hello
#     strategy:
#       matrix:
#         service: ${{ fromJSON(needs.say_hello.outputs.services) }}
#     steps:
#       - name: Matrix => (${{ matrix.service }})
#         run: |
#           echo ${{ matrix.service }}