# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on: 
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  IS_PUBLISH: ${{ github.event_name != 'pull_request' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Previous Step
        id: previous
        run: echo "This is the previous step"
        
      - name: Conditional Step
        id: conditional
        run: |
          echo "This is the conditional step"
        if: success() && env.IS_PUBLISH == 'true'

